@model WebTMDT.Models.ProductEditViewModel
@{
    ViewBag.Title = "Sửa bài viết";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3>
                @ViewBag.Title <b>
                    @if (Model != null)
                    {
                        @Html.Raw(Model.ProductName)
                    }
                </b>.
            </h3>
        </div>

        @if (ViewBag.ProductNotFound != null)
        {
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>@ViewBag.ProductNotFound</strong>
            </div>
        }

        @if (TempData["UpdateProduct"] != null)
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @Html.Raw(TempData["UpdateProduct"])
            </div>
        }
        @if (Model != null)
        {

            using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "EditProduct" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => m.SubCatId, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => m.LocalId, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.ProductId)

                <h4 style="text-transform: uppercase;">Bước 1: Chọn danh mục</h4>
                @Html.HiddenFor(m => m.SubCatId, new { @id = "ProductCategoryId" })
                @Html.HiddenFor(m => m.LocalId, new { @id = "ProductLocalId" })
                @Html.Partial("_PartialCategoryEdit")

                <h4 style="text-transform: uppercase;">Bước 2: Nhập thông tin</h4>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", placeholder = "Tên và mô tả ngắn" })
                        @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger has-error" })
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ Xe 1.5 tấn Hà Nội - Nam Định nhận chở các mặt hàng)</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ProductPrice, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control", placeholder = "Giá" })
                        @Html.ValidationMessageFor(m => m.ProductPrice, "", new { @class = "text-danger has-error" })
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.ProductVAT) <span>VAT</span>
                            </label>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $("#ProductPrice").on("input", function () {
                            // allow numbers, a comma or a dot
                            var v = $(this).val(), vc = v.replace(/[^0-9,\.]/, '');
                            if (v !== vc)
                                $(this).val(vc);
                        }).maskMoney({
                            prefix: '', // The symbol to be displayed before the value entered by the user
                            allowZero: false, // Prevent users from inputing zero
                            allowNegative: true, // Prevent users from inputing negative values
                            defaultZero: false, // when the user enters the field, it sets a default mask using zero
                            thousands: ',', // The thousands separator
                            decimal: '.', // The decimal separator
                            precision: 0, // How many decimal places are allowed
                            affixesStay: false, // set if the symbol will stay in the field after the user exits the field.
                            symbolPosition: 'right' // use this setting to position the symbol at the left or right side of the value. default 'left'
                        }); //;


                    });
                </script>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductHumanType, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @if (ViewBag.ProductHumanType != null)
                        {
                            @Html.DropDownListFor(m => m.ProductHumanType, new SelectList(ViewBag.ProductHumanType, "ProductHumanTypeName", "ProductHumanTypeName"), "-Chọn kiểu bài-", new { @class = "form-control" })
                        }
                        @Html.ValidationMessageFor(m => m.ProductHumanType, "", new { @class = "text-danger has-error" })
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ: xe tìm hàng, hàng tìm xe, v.v...)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductKg, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @if (ViewBag.ProductKg != null)
                        {
                            @Html.DropDownListFor(m => m.ProductKg, new SelectList(ViewBag.ProductKg, "ProductKgValue", "ProductKgName"), "-Trọng tải xe-", new { @class = "form-control" })
                        }
                        @Html.ValidationMessageFor(m => m.ProductKg, "", new { @class = "text-danger has-error" })
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ: xe 1.5 tấn, 3 tấn, v.v...)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductStatus, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @if (ViewBag.ProductStatus != null)
                        {
                            @Html.DropDownListFor(m => m.ProductStatus, new SelectList(ViewBag.ProductStatus, "ProductStatusName", "ProductStatusName"), "-Chọn trạng thái xe-", new { @class = "form-control" })
                        }
                        @Html.ValidationMessageFor(m => m.ProductStatus, "", new { @class = "text-danger has-error" })
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ: mới | cũ | mới 90%, v.v...)</p>
                    </div>
                </div>
                <script>
                    $(window).on('load',function () {
                        $('#ProductStatus').val("@Html.Raw(Model.ProductStatus)");
                        $('#ProductHumanType').val("@Html.Raw(Model.ProductHumanType)");
                        $('#ProductKg').val("@Html.Raw(Model.ProductKg)");
                    })
                </script>

                <div class="form-group">
                    @Html.LabelFor(m => m.ProductType, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @if (ViewBag.ProductType != null)
                        {
                            @Html.DropDownListFor(m => m.ProductType, new SelectList(ViewBag.ProductType, "ProductTypeName", "ProductTypeName"), "-Chọn thể loại xe-", new { @class = "form-control" })
                        }
                        @Html.ValidationMessageFor(m => m.ProductType, "", new { @class = "text-danger has-error" })
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ: Xe nhập khẩu, xe lắp ráp, v.v...)</p>
                    </div>
                </div>

                <script>
                    $(window).on('load', function () {
                        $('#ProductType').val("@Html.Raw(Model.ProductType)");
                    })
                </script>

                <div class="form-group">
                    @Html.LabelFor(m => m.ProductMethod, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ProductMethod, new { @class = "form-control", placeholder = "Cách thức giao hàng" })
                        @*@Html.ValidationMessageFor(m => m.ProductMethod, "", new { @class = "text-danger has-error" })*@
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ: Miễn phí bốc hàng | Miễn phí bao bì v.v...)</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ProductGuarantee, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ProductGuarantee, new { @class = "form-control", placeholder = "Chế độ bảo hành" })
                        @*@Html.ValidationMessageFor(m => m.ProductGuarantee, "", new { @class = "text-danger has-error" })*@
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ: bảo hành 1 tuần, 1 tháng)</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ProductPromotion, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ProductPromotion, new { @class = "form-control", placeholder = "Thông tin khuyến mại" })
                        @*@Html.ValidationMessageFor(m => m.ProductPromotion, "", new { @class = "text-danger has-error" })*@
                    </div>
                    <div class="col-md-4">
                        <p class="help-block font-itali">(Ví dụ: Giảm giá 20% từ 1/8/2017 đến 1/9/2017.)</p>
                    </div>
                </div>

                <div class="form-group">
                    @*<label for="ProductAvatar" class="control-label col-md-3">Ảnh đại diện sản phẩm</label>*@
                    @Html.LabelFor(m => m.ProductAvatar, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        <label id="ProductAvatar_Update" class="upload-image btn-file" style="background-image: url('@Html.DisplayFor(m => m.ProductAvatar)')">
                            <i class="fa fa-plus fa-3x"></i>
                            <input type="file" id="ProductAvatar_file" name="ProductAvatar_file" accept="image/*" class="form-control" style="display: none;" />
                        </label>
                        @Html.HiddenFor(m => m.ProductAvatar)
                        @Html.ValidationMessageFor(m => m.ProductAvatar, "", new { @class = "text-danger has-error" })
                    </div>

                    <script>
                        $(document).ready(function () {
                            $("#ProductAvatar_file").change(function () {
                                var formData = new FormData();
                                var file = $(this).get(0).files[0];
                                formData.append("ProductImg_file", file);
                                var i = 0;
                                $("#ProductAvatar_Update").removeAttr('style').addClass('loading');
                                i++;
                                setTimeout(function () {
                                    $.ajax({
                                        type: "POST",
                                        url: '/product/Upload',
                                        data: formData,
                                        dataType: 'json',
                                        contentType: false,
                                        processData: false,
                                        success: function (response) {
                                            if (response.length === 0) {
                                                alert("Ảnh không hợp lên. Vui lòng chọn lại ảnh khác và ảnh có dung lượng tối thiểu 512 byte.");
                                                return;
                                            }
                                            $('#ProductAvatar').val(response);
                                            $('#ProductAvatar_Update').css("background-image", "url('" + $('#ProductAvatar').val() + "')");
                                        },
                                        error: function (error) {
                                            alert('Mất kết nối mạng');
                                        },
                                        complete: function () {
                                            //console.log('end');
                                            i--;
                                            if (i <= 0) {
                                                $('#ProductAvatar_Update').removeClass('loading');
                                            }
                                        },
                                    });
                                }, 3000);
                                
                            });
                        });

                    </script>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Chọn các ảnh mô tả xe</label>
                    <div class="col-md-5">

                        @if (Model.ProductImages.Count > 0)
                        {
                            if (Model.ProductImages.Count == 3)
                            {
                                foreach (var myItem in Model.ProductImages.Select((value, i) => new { i, value }))
                                {
                                    <label id="ProductImages_U_@myItem.i" class="upload-image btn-file" style="background-image: url('@myItem.value.UrlImage');">
                                        <i class="fa fa-plus fa-3x"></i>
                                        <input type="file" id="ProductImages_@myItem.i" name="ProductImages_@myItem.i" accept="image/*" class="form-control" style="display: none;" />
                                    </label>

                                    <input type="hidden" name="hinh_@myItem.i" id="hinh_@myItem.i" value="@myItem.value.UrlImage" />
                                }
                            }
                            if (Model.ProductImages.Count == 2)
                            {
                                foreach (var myItem in Model.ProductImages.Select((value, i) => new { i, value }))
                                {
                                    <label id="ProductImages_U_@myItem.i" class="upload-image btn-file" style="background-image: url('@myItem.value.UrlImage');">
                                        <i class="fa fa-plus fa-3x"></i>
                                        <input type="file" id="ProductImages_@myItem.i" name="ProductImages_@myItem.i" accept="image/*" class="form-control" style="display: none;" />
                                    </label>
                                    <input type="hidden" name="hinh_@myItem.i" id="hinh_@myItem.i" value="@myItem.value.UrlImage" />
                                }
                                <label id="ProductImages_U_2" class="upload-image btn-file">
                                    <i class="fa fa-plus fa-3x"></i>
                                    <input type="file" id="ProductImages_2" name="ProductImages_2" accept="image/*" class="form-control" style="display: none;" />
                                </label>
                                <input type="hidden" name="hinh_2" id="hinh_2" />
                            }
                            if (Model.ProductImages.Count == 1)
                            {
                                foreach (var myItem in Model.ProductImages.Select((value, i) => new { i, value }))
                                {
                                    <label id="ProductImages_U_@myItem.i" class="upload-image btn-file" style="background-image: url('@myItem.value.UrlImage');">
                                        <i class="fa fa-plus fa-3x"></i>
                                        <input type="file" id="ProductImages_@myItem.i" name="ProductImages_@myItem.i" accept="image/*" class="form-control" style="display: none;" />
                                    </label>
                                    <input type="hidden" name="hinh_@myItem.i" id="hinh_@myItem.i" value="@myItem.value.UrlImage" />
                                }
                                <label id="ProductImages_U_1" class="upload-image btn-file">
                                    <i class="fa fa-plus fa-3x"></i>
                                    <input type="file" id="ProductImages_1" name="ProductImages_1" accept="image/*" class="form-control" style="display: none;" />
                                </label>
                                <input type="hidden" name="hinh_1" id="hinh_1" />
                                <label id="ProductImages_U_2" class="upload-image btn-file">
                                    <i class="fa fa-plus fa-3x"></i>
                                    <input type="file" id="ProductImages_2" name="ProductImages_2" accept="image/*" class="form-control" style="display: none;" />
                                </label>
                                <input type="hidden" name="hinh_2" id="hinh_2" />
                            }
                        }
                        else
                        {
                            <label id="ProductImages_U_0" class="upload-image btn-file">
                                <i class="fa fa-plus fa-3x"></i>
                                <input type="file" id="ProductImages_0" name="ProductImages_0" accept="image/*" class="form-control" style="display: none;" />
                            </label>
                            <label id="ProductImages_U_1" class="upload-image btn-file">
                                <i class="fa fa-plus fa-3x"></i>
                                <input type="file" id="ProductImages_1" name="ProductImages_1" accept="image/*" class="form-control" style="display: none;" />
                            </label>
                            <label id="ProductImages_U_2" class="upload-image btn-file">
                                <i class="fa fa-plus fa-3x"></i>
                                <input type="file" id="ProductImages_2" name="ProductImages_2" accept="image/*" class="form-control" style="display: none;" />
                            </label>
                            <input type="hidden" name="hinh_0" id="hinh_0" />
                            <input type="hidden" name="hinh_1" id="hinh_1" />
                            <input type="hidden" name="hinh_2" id="hinh_2" />
                        }

                    </div>

                </div>

                <script>
                    $(document).ready(function () {
                        $('#ProductImages_0').change(function () {
                            var formData = new FormData();
                            var file = $(this).get(0).files[0];
                            formData.append("ProductImg_file", file);
                            var i = 0;
                            $("#ProductImages_U_0").removeAttr('style').addClass('loading');
                            i++;
                            setTimeout(function () {
                                $.ajax({
                                    type: "POST",
                                    url: '/product/Upload',
                                    data: formData,
                                    dataType: 'json',
                                    contentType: false,
                                    processData: false,
                                    success: function (response) {
                                        if (response.length === 0) {
                                            alert("Ảnh không hợp lệ. Vui lòng chọn lại ảnh khác và ảnh có dung lượng tối thiểu 512 byte.");
                                            return;
                                        }
                                        $('#hinh_0').val(response);
                                        $('#ProductImages_U_0').css("background-image", "url('" + $('#hinh_0').val() + "')");
                                    },
                                    error: function (error) {
                                        alert('Mất kết nối mạng');
                                    },
                                    complete: function () {
                                        //console.log('end');
                                        i--;
                                        if (i <= 0) {
                                            $('#ProductImages_U_0').removeClass('loading');
                                        }
                                    },
                                });
                            }, 3000);
                            
                        });
                        $('#ProductImages_1').change(function () {
                            var formData = new FormData();
                            var file = $(this).get(0).files[0];
                            formData.append("ProductImg_file", file);
                            var i = 0;
                            $("#ProductImages_U_1").removeAttr('style').addClass('loading');
                            i++;
                            setTimeout(function () {
                                $.ajax({
                                    type: "POST",
                                    url: '/product/Upload',
                                    data: formData,
                                    dataType: 'json',
                                    contentType: false,
                                    processData: false,
                                    success: function (response) {
                                        if (response.length === 0) {
                                            alert("Ảnh không hợp lệ. Vui lòng chọn lại ảnh khác và ảnh có dung lượng tối thiểu 512 byte.");
                                            return;
                                        }
                                        $('#hinh_1').val(response);
                                        $('#ProductImages_U_1').css("background-image", "url('" + $('#hinh_1').val() + "')");
                                    },
                                    error: function (error) {
                                        alert('Mất kết nối mạng');
                                    },
                                    complete: function () {
                                        //console.log('end');
                                        i--;
                                        if (i <= 0) {
                                            $('#ProductImages_U_1').removeClass('loading');
                                        }
                                    },
                                });
                            }, 3000);
                            
                        });
                        $('#ProductImages_2').change(function () {
                            var formData = new FormData();
                            var file = $(this).get(0).files[0];
                            formData.append("ProductImg_file", file);
                            var i = 0;
                            $("#ProductImages_U_2").removeAttr('style').addClass('loading');
                            i++;
                            setTimeout(function () {
                                $.ajax({
                                    type: "POST",
                                    url: '/product/Upload',
                                    data: formData,
                                    dataType: 'json',
                                    contentType: false,
                                    processData: false,
                                    success: function (response) {
                                        if (response.length === 0) {
                                            alert("Ảnh không hợp lệ. Vui lòng chọn lại ảnh khác và ảnh có dung lượng tối thiểu 512 byte.");
                                            return;
                                        }
                                        $('#hinh_2').val(response);
                                        $('#ProductImages_U_2').css("background-image", "url('" + $('#hinh_2').val() + "')");
                                    },
                                    error: function (error) {
                                        alert('Mất kết nối mạng');
                                    },
                                    complete: function () {
                                        //console.log('end');
                                        i--;
                                        if (i <= 0) {
                                            $('#ProductImages_U_2').removeClass('loading');
                                        }
                                    },
                                });
                            }, 3000);
                            
                        })

                    })

                </script>

                <h4 style="text-transform: uppercase;">Bước 3: Viết mô tả chi tiết về sản phẩm</h4>
                <div class="form-group">
                    <div class="col-md-5">
                        <span style="cursor: pointer;" data-toggle="modal" data-target="#vidusanpham">Bấm vào đây để xem ví dụ mẫu về mô tả chi tiết sản phẩm</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.ProductDescription, new { @class = "form-control", rows = 5 })
                    </div>
                </div>

                <script>
                    CKEDITOR.replace('ProductDescription');
                </script>


                <div class="form-group">
                    <div class="col-md-9">
                        <input type="submit" class="btn btn-primary" value="Cập nhật sản phẩm" />
                    </div>
                </div>

            }

        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        });
    </script>
}

<div class="modal fade" id="vidusanpham" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: #333;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ví dụ mẫu mô tả chi tiết sản phẩm</h4>
            </div>
            <div class="modal-body">
                <p>
                    Th&ocirc;ng số kĩ thuật tr&ecirc;n Web Thương mại điện tử&nbsp;chỉ mang t&iacute;nh tham khảo, th&ocirc;ng số c&oacute; thể thay đổi m&agrave; kh&ocirc;ng b&aacute;o trước.<br />
                    Nếu bạn ph&aacute;t hiện th&ocirc;ng số sai xin h&atilde;y&nbsp;<a href="javascript:;" onclick="windowPrompt({ width: 600, height: 400, href: con_ajax_path + 'load_send_error_product.php?v=3&amp;record_id=2898994', iframe: true });" rel="nofollow" title="Báo lỗi thông số kỹ thuật, ảnh sản phẩm">Click v&agrave;o đ&acirc;y</a>&nbsp;để th&ocirc;ng b&aacute;o cho ch&uacute;ng t&ocirc;i. Xin tr&acirc;n trọng cảm ơn bạn!
                </p>

                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>H&atilde;ng sản xuất</td>
                            <td><a href="http://www.vatgia.com/s/sony+vaio+e+series">Sony VAIO E Series</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">M&agrave;n h&igrave;nh</td>
                        </tr>
                        <tr>
                            <td>Độ lớn m&agrave;n h&igrave;nh</td>
                            <td><a href="http://www.vatgia.com/s/15.5+inch">15.5 inch</a></td>
                        </tr>
                        <tr>
                            <td>Độ ph&acirc;n giải</td>
                            <td><a href="http://www.vatgia.com/s/led+%281366+x+768%29">LED (1366 x 768)</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Mainboard</td>
                        </tr>
                        <tr>
                            <td>Motherboard Chipset</td>
                            <td><a href="http://www.vatgia.com/s/mobile+intel+hm76+express+chipset">Mobile Intel HM76 Express Chipset</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">CPU</td>
                        </tr>
                        <tr>
                            <td>Loại CPU</td>
                            <td>Intel Core i5-3230M Ivy Bridge</td>
                        </tr>
                        <tr>
                            <td>Tốc độ m&aacute;y</td>
                            <td>2.60GHz (3MB L3 cache, Max Turbo Frequency 3.2GHz)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Memory</td>
                        </tr>
                        <tr>
                            <td>Memory Type</td>
                            <td>DDR3 1600MHz</td>
                        </tr>
                        <tr>
                            <td>Dung lượng Memory</td>
                            <td>4GB</td>
                        </tr>
                        <tr>
                            <td colspan="2">HDD</td>
                        </tr>
                        <tr>
                            <td>Loại ổ cứng</td>
                            <td><a href="http://www.vatgia.com/s/hdd">HDD</a></td>
                        </tr>
                        <tr>
                            <td>Dung lượng SSD</td>
                            <td>Đang chờ cập nhật</td>
                        </tr>
                        <tr>
                            <td>Dung lượng HDD</td>
                            <td><a href="http://www.vatgia.com/s/500gb">500GB</a></td>
                        </tr>
                        <tr>
                            <td>Số v&ograve;ng quay của HDD</td>
                            <td><a href="http://www.vatgia.com/s/5400rpm">5400rpm</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Drive</td>
                        </tr>
                        <tr>
                            <td>Loại ổ đĩa quang</td>
                            <td>DVD Super Multi Drive</td>
                        </tr>
                        <tr>
                            <td colspan="2">Graphic</td>
                        </tr>
                        <tr>
                            <td>Video Chipset</td>
                            <td>AMD Mobility Radeon HD 7650M</td>
                        </tr>
                        <tr>
                            <td>Graphic Memory</td>
                            <td>1GB</td>
                        </tr>
                        <tr>
                            <td colspan="2">Network</td>
                        </tr>
                        <tr>
                            <td>LAN</td>
                            <td>10/100/1000 Mbps</td>
                        </tr>
                        <tr>
                            <td>Wifi</td>
                            <td>IEEE 802.11b/g/n</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>