@using WebTMDT.Models;
@using WebTMDT.Controllers;

<form id="form-search" class="form-horizontal" name="sentMessage" method="get" action="/product/search" onsubmit="return validate()">
    <!-- form wrapper -->
    <div class="form-group query_search">
        <div class="col-md-12">
            @Html.TextBox("inputsearch", "", new { @class = "form-control", type = "search", placeholder = "Gõ tìm kiếm", @id = "inputsearch" })
        </div>
    </div>
    <script>
        $('input#inputsearch').change(function() {
            var $input_search = $(this).val();
            if ($input_search !== "") {               
                $.ajax({
                    url: '@Url.Action("AddToLog", "Product")',
                    type: "POST",
                    async: true,
                    dataType: "json",
                    data: { inputsearch:  $input_search},
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (request, status, error) {
                        // process error message
                        console.log(error);
                    }
                });
            }
        });
    </script>

    <div class="form-group filter_search">
        <div class="col-md-12">
            @Html.TextBox("f18", "", new { @class = "form-control input_search" })
            @Html.TextBox("f17", "", new { @class = "form-control input_search" })
            @Html.TextBox("f15", "", new { @class = "form-control input_search" })
            @Html.TextBox("f16", "", new { @class = "form-control input_search" })
            @Html.TextBox("f5", "", new { @class = "form-control input_option" })
            @Html.TextBox("f6", "", new { @class = "form-control input_option" })
        </div>
    </div>
         @*<div class="form-group filter_search">
        <div class="col-md-4 col-xs-12">
            @Html.TextBox("f18", "", new { @class = "form-control input_search" })
        </div>
        <div class="col-md-4 col-xs-12">
            @Html.TextBox("f17", "", new { @class = "form-control input_search" })
        </div>
        <div class="col-md-4 col-xs-12">
            @Html.TextBox("f15", "", new { @class = "form-control input_search" })
        </div>
    </div>
    <div class="form-group filter_search">
        <div class="col-md-4 col-xs-12">
            @Html.TextBox("f16", "", new { @class = "form-control input_search" })
        </div>
        <div class="col-md-4 col-xs-12">
            @Html.TextBox("f5", "", new { @class = "form-control input_query_2" })
        </div>
        <div class="col-md-4 col-xs-12">
            @Html.TextBox("f6", "", new { @class = "form-control input_query_2" })
        </div>
    </div>*@
         @*@Html.TextBox("f17", "", new { @class = "input-sm input_search" })
        @Html.TextBox("f15", "", new { @class = "input-sm input_search" })
        @Html.TextBox("f16", "", new { @class = "input-sm input_search" })
        @Html.TextBox("f5", "", new { @class = "input-sm input_query" })
        @Html.TextBox("f6", "", new { @class = "input-sm input_query" })*@
         @Html.Hidden("f10", "")
         @Html.Hidden("f3", "")
    <div class="form-group select_search">
        @*@{Html.RenderAction("ShowCat1", "Home");}*@
        <div class="col-md-3">
            <div class="dropdown" id="selectDM1">
                @*<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-default" data-target="#" style="width: 100%; text-align: left;">
                    Kiểu bài <span class="caret pull-right"></span>
                </a>*@
                @*<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    @{
                            var menusList = ViewBag.Category as IEnumerable<Category>;
                            foreach (var item in menusList.Where(x => x.F3 == null))
                            {
                                HomeController a = new HomeController();
                                var menu1 = a.CreateVM(@item.F1, menusList);
                                if (menu1 != null)
                                {
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#" data-id="@item.F1">@item.F2</a>
                                        <ul class="dropdown-menu">
                                            @foreach (var item1 in menu1)
                                            {
                                                <li><a href="#" data-id="@item1.CatId">@item1.CatName</a></li>
                                            }
                                            <li></li>
                                        </ul>
                                    </li>
                                }

                            }
                    }
                   
                </ul>*@
                <select id="F22" class="form-control"></select>
                <script>
                    $.ajax({
                        url: "/Product/getF22",
                        cache: false
                    }).done(function (html) {
                        //alert(html);
                        var news = '{"news":' + html + '}';
                        var json_parsed = $.parseJSON(news);
                        $("#F22").html("<option value=''>Kiểu Bài</option>");
                        for (var i = 0; i < json_parsed.news.length; i++) {
                            if (json_parsed.news[i]) {
                                var name = json_parsed.news[i];
                                $("#F22").append("<option value='" + json_parsed.news[i].ProductHumanTypeName + "'>" + json_parsed.news[i].ProductHumanTypeName + "</option>");
                            }
                        }

                    });
                </script>
                
            </div>
        </div>

        <div class="col-md-3">

            <div class="dropdown" id="selectDM2">
                @Html.TextBox("from", "", new { @class = "form-control", type = "search", placeholder = "Điểm đi", @id = "from" })
            </div>

        </div>

        <!-- Input your email -->
        <div class="col-md-3">

            <div class="dropdown" id="selectDiadiem">
                @Html.TextBox("from", "", new { @class = "form-control", type = "search", placeholder = "Điểm đến", @id = "from" })
            </div>

        </div>

        <div class="col-md-3">
                <!-- Your email input -->
                <button class="btn btn-primary btn-block" id="btn-timkiem"><i class="fa fa-search"></i> Tìm Kiếm</button> <!-- Send button -->
        </div>

    </div><!-- end nested inner row -->

</form><!-- end form wrapper -->


<script type="text/javascript">
    //function validate() {
    //    if (document.getElementById("f18").value !== "" || document.getElementById("f17").value !== "" || document.getElementById("f15").value !== "") {
    //        return true;
    //    } else {
    //        alert("Vui lòng chọn một danh mục để tìm kiếm");
    //        return false;
    //    };
    //}

    function validate() {
        if (document.getElementById("f18").value === "" && document.getElementById("f17").value === "" && document.getElementById("f15").value === "" && document.getElementById("inputsearch").value === "" && document.getElementById("f16").value === "") {
            alert("Vui lòng nhập từ khóa hoặc chọn một danh mục để tìm kiếm");
            return false;
        } else {
            return true;
        };
    }



    $(document).ready(function () {
        $('input.input_search').tagsinput({
            itemValue: 'id',
            itemText: 'text'
        });       
        
        var parent = $('input#f18');
        var cat = $('input#f17');
        var subcat = $('input#f15');
        var local = $('input#f16');
        $('#selectDM1 > ul > li.dropdown-submenu > a').on('click', function (e) {
            e.preventDefault();
            var _id = $(this).data('id');
            var _text = $(this).html();
            var selText = $(this).html() + '<span class="caret pull-right"></span>';
            $(this).parent('li').siblings().removeClass('active');
            $(this).parent('li').addClass('active');
            $('#selectDM1').children('a').html(selText);
            if (typeof _id != 'undefined' && _id) {
                parent.tagsinput('removeAll');
                parent.tagsinput('add', { "id": _id, "text": _text });
            }
            $('#selectDM2 > ul').empty().append('<li><a href="#">Chọn danh mục</a></li>');
            //console.log(_id);
        })

        $('#selectDM2').on('click', 'ul.dropdown-menu > li > a', function (e) {
            e.preventDefault();
            var _id = $(this).data('id');
            var _text = $(this).html();
            var selText = $(this).html() + '<span class="caret pull-right"></span>';
            $(this).parent('li').siblings().removeClass('active');
            $(this).parent('li').addClass('active');
            $('#selectDM2').children('a').html(selText);
            if (typeof _id != 'undefined' && _id) {
                subcat.tagsinput('removeAll');
                subcat.tagsinput('add', { "id": _id, "text": _text });
            }
        })

        $('#selectDM1 > ul > li.dropdown-submenu > ul.dropdown-menu > li > a').on('click', function (e) {
            e.preventDefault();
            var _id = $(this).data('id');
            var selText = $(this).html() + '<span class="caret pull-right"></span>';
            var _text = $(this).html();
            if (typeof _id != 'undefined' && _id) {
                cat.tagsinput('removeAll');
                cat.tagsinput('add', { "id": _id, "text": _text });
            }

            $(this).parent('li').siblings().removeClass('active');
            $(this).parent('li').parent('.dropdown-menu').parent('li').siblings().removeClass('active');
            $(this).parent('li').parent('.dropdown-menu').parent('li').siblings().children('ul').children('li').removeClass('active');
            $('#selectDM1').children('a').html(selText);
            $(this).parents('li').addClass("active");
            $.ajax({
                url: '@Url.Action("SelectDanhMuc3", "Home")',
                type: "POST",
                async: true,
                dataType: "json",
                data: { Id: _id },
                success: function (data) {
                    $('#selectDM2 > ul').empty();
                    $.each(data, function () {
                        var item = $('<a href="#" />');
                        item.attr('data-id', this.Id).html(this.Name);
                        var item_li = $('<li />');
                        item_li.append(item);
                        $('#selectDM2 > ul').append(item_li);
                    })

                    //$('#selectDM2 > ul').html(data);
                },
                error: function (request, status, error) {
                    // process error message
                    console.log(error);
                }
            });
        })

        $('.select_a').on('click', 'li > a', function (e) {
            e.preventDefault();
            var selText = $(this).html() + '<span class="caret pull-right"></span>';
            var _text = $(this).html();
            var _id = $(this).data('id');
            $(this).parent('li').siblings().removeClass('active_dd');
            $(this).parent('li').parent('ul').parent('li').parent('ul.select_a').siblings().find('li').removeClass('active_dd');
            $(this).parent('li').addClass('active_dd');
            $('#selectDiadiem').children('a').html(selText);
            if (typeof _id != 'undefined' && _id) {
                local.tagsinput('removeAll');
                local.tagsinput('add', { "id": _id, "text": _text });
            }
        })


    })
</script>

@if (ViewBag.f18 != null && ViewBag.f18n != null)
{
    <script>
        $(document).ready(function() {
            $('input#f18').tagsinput('add', { id: @ViewBag.f18, text: "@Html.Raw(ViewBag.f18n)" });
        })
    </script>
}
else
{
    <script>
        $(document).ready(function() {
            $('input#f18').tagsinput('removeAll');
        })
    </script>
}

@if (ViewBag.f17 != null && ViewBag.f17n != null)
{
    <script>
        $(document).ready(function() {
            $('input#f17').tagsinput('add', { id: @ViewBag.f17, text: "@Html.Raw(ViewBag.f17n)" });
        })
    </script>
}
else
{
    <script>
        $(document).ready(function() {
            $('input#f17').tagsinput('removeAll');
        })
    </script>
}

@if (ViewBag.f15 != null && ViewBag.f15n != null)
{
    <script>
        $(document).ready(function() {
            $('input#f15').tagsinput('add', { id: @ViewBag.f15, text: "@Html.Raw(ViewBag.f15n)" });
        })
    </script>
}
else
{
    <script>
        $(document).ready(function() {
            $('input#f15').tagsinput('removeAll');
        })
    </script>
}

@if (ViewBag.f16 != null && ViewBag.f16n != null)
{
    <script>
        $(document).ready(function() {
            $('input#f16').tagsinput('add', { id: @ViewBag.f16, text: "@Html.Raw(ViewBag.f16n)" });
        })
    </script>
}
else
{
    <script>
        $(document).ready(function() {
            $('input#f16').tagsinput('removeAll');
        })
    </script>
}

@if (ViewBag.f5 != null)
{
    <script>
        $(document).ready(function() {
            $('input#f5').tagsinput('add', "@Html.Raw(ViewBag.f5)");
            $('#Selectf5').val('@Html.Raw(ViewBag.f5)');
        })
    </script>
}
else
{
    <script>
        $(document).ready(function() {
            $('input#f5').tagsinput('removeAll');
        })
    </script>
}

@if (ViewBag.f6 != null)
{
    <script>
        $(document).ready(function() {
            $('input#f6').tagsinput('add', "@Html.Raw(ViewBag.f6)");
            $('#Selectf6').val('@Html.Raw(ViewBag.f6)');
        })
    </script>
}
else
{
    <script>
        $(document).ready(function() {
            $('input#f6').tagsinput('removeAll');
        })
    </script>
}

@if (ViewBag.f10 != null)
{
    <script>
        $(document).ready(function() {
            $('#Selectf10').val('@Html.Raw(ViewBag.f10)');
        })
    </script>
}

@if (ViewBag.f3 != null)
{
    <script>
        $(document).ready(function() {
            $('#Selectf3').val('@Html.Raw(ViewBag.f3)');
        })
    </script>
}